snippet rfc "react function component"
import React from "react";
import { SafeAreaView, Text, StyleSheet } from "react-native";

export default function $1() {
  return (
    <SafeAreaView style={styles.container}>
      <Text>$1</Text>
    </SafeAreaView>
  );
}
const styles = StyleSheet.create({
  container: {
    display: "flex",
    flex: 1
  }
});
endsnippet

snippet rus "React.useState" b
const [$1, set${1/\w+\s*/\u$0/}] = React.useState()
endsnippet
